<div
  class="add-product-container px-5 py-3 fw-bolder text-capitalize"
  style="background-color: var(--admin-bg)"
>
  <h2 class="productadd-heading mt-3 mb-5 text-center">Edit Product</h2>

  <form
    [formGroup]="productEdit"
    (ngSubmit)="productEditFun()"
  >
    <div class="row">
      <div class="input-container col-md-6 d-flex flex-column pb-4">
        <label for="productname" class="label-input mb-2"
          >Product Name <span class="text-danger">*</span></label
        >
        <input
          type="text"
          id="productname"
          class="input-box rounded form-control-sm p-2"
          placeholder="Enter the product name"
          formControlName="pname"
        />
        <div
          *ngIf="getAddName('pname')?.errors && getAddName('pname')?.touched"
        >
          <p
            class="error-msg"
            *ngIf="getAddName('pname')?.errors?.['required']"
          >
            This field is required
          </p>
          <p
            class="error-msg"
            *ngIf="getAddName('pname')?.errors?.['minlength']"
          >
            Minimum 2 character required
          </p>
          <p
            class="error-msg"
            *ngIf="getAddName('pname')?.errors?.['maxlength']"
          >
            Maximum 20 character allowed
          </p>
        </div>
      </div>
      <div class="input-container col-md-6 d-flex flex-column pb-4">
        <label for="productlabel" class="label-input mb-2"
          >Product Label <span class="text-danger">*</span></label
        >
        <input
          type="text"
          id="productlabel"
          class="input-box rounded form-control-sm p-2"
          placeholder="Enter the product label"
          formControlName="plabel"
        />
        <div
          *ngIf="getAddName('plabel')?.errors && getAddName('plabel')?.touched"
        >
          <p
            class="error-msg"
            *ngIf="getAddName('plabel')?.errors?.['required']"
          >
            This field is required
          </p>
          <p
            class="error-msg"
            *ngIf="getAddName('plabel')?.errors?.['minlength']"
          >
            Minimum 2 character required
          </p>
          <p
            class="error-msg"
            *ngIf="getAddName('plabel')?.errors?.['maxlength']"
          >
            Maximum 20 character allowed
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-container col-md-6 d-flex flex-column pb-4">
        <label for="tags" class="label-input mb-2"
          >Tags <span class="text-danger">*</span></label
        >
        <input
          type="text"
          id="tags"
          class="input-box rounded form-control-sm p-2"
          placeholder="Enter relevant tags"
          formControlName="ptags"
        />
        <div
          *ngIf="getAddName('ptags')?.errors && getAddName('ptags')?.touched"
        >
          <p
            class="error-msg"
            *ngIf="getAddName('ptags')?.errors?.['required']"
          >
            This field is required
          </p>
        </div>
      </div>
      <div class="input-container col-md-6 d-flex flex-column pb-4">
        <label for="tags" class="label-input mb-2"
          >Price <span class="text-danger">*</span></label
        >
        <input
          type="text"
          id="tags"
          class="input-box rounded form-control-sm p-2"
          placeholder="Enter relevant tags"
          formControlName="pprice"
        />
        <div
          *ngIf="getAddName('pprice')?.errors && getAddName('pprice')?.touched"
        >
          <p
            class="error-msg"
            *ngIf="getAddName('pprice')?.errors?.['required']"
          >
            This field is required
          </p>
          <p *ngIf="getAddName('pprice')?.errors?.['minlength']">
            Please enter proper price
          </p>
          <p *ngIf="getAddName('pprice')?.errors?.['maxlength']">
            Please enter proper price
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-container col-md-6 d-flex flex-column pb-4">
        <label for="img" class="label-input mb-2"
          >Product Image <span class="text-danger">*</span></label
        >
        <input
          type="text"
          id="img"
          class="input-box rounded form-control-sm p-2"
          formControlName="pimg"
        />
        <div *ngIf="getAddName('pimg')?.errors && getAddName('pimg')?.touched">
          <p class="error-msg" *ngIf="getAddName('pimg')?.errors?.['required']">
            This field is required
          </p>
        </div>
      </div>
      <div class="input-container col-md-6 d-flex flex-column pb-4">
        <label for="brand" class="label-input mb-2"
          >Brand Name <span class="text-danger">*</span></label
        >
        <select
          name="brand"
          id="brand"
          class="input-box rounded form-control-sm p-2"
          formControlName="pbrand"
        >
          <option value="">Please select the brand name</option>
          <option value="Adidas">Adidas</option>
          <option value="Nike">Nike</option>
          <option value="Newbalance">New Balance</option>
        </select>
        <div
          *ngIf="getAddName('pbrand')?.errors && getAddName('pbrand')?.touched"
        >
          <p
            class="error-msg"
            *ngIf="getAddName('pbrand')?.errors?.['required']"
          >
            This field is required
          </p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="input-container col-md-6 d-flex flex-column pb-4">
        <label for="description" class="label-input mb-2"
          >Description <span class="text-danger">*</span></label
        >
        <textarea
          id="description"
          class="input-box rounded form-control-sm p-2"
          rows="5"
          placeholder="Provide a brief description of the product"
          formControlName="pdes"
        ></textarea>

        <div *ngIf="getAddName('pdes')?.errors && getAddName('pdes')?.touched">
          <p class="error-msg" *ngIf="getAddName('pdes')?.errors?.['required']">
            This field is required
          </p>
          <p
            class="error-msg"
            *ngIf="getAddName('pdes')?.errors?.['minlength']"
          >
            Minimum 30 character required
          </p>
          <p
            class="error-msg"
            *ngIf="getAddName('pdes')?.errors?.['maxlength']"
          >
            Maximum 500 character allowed
          </p>
        </div>
      </div>
    </div>

    <div class="addpro-btn mt-4">
      <button
        type="submit"
        class="btn p-3 text-center"
        [disabled]="productEdit.invalid"
      >
        Add Product
      </button>
    </div>
  </form>
</div>
