<app-header></app-header>
<div class="cart-container container my-5">
  <div class="row">
    <div class="col-md-6 my-5">
      <div class="cart-heading">
        <h3 class="title text-capitalize fw-bolder">Your Bag</h3>
        <p class="lh-lg">
          TOTAL (1 item) <span class="fw-bold"> ₹3 299.00 </span><br />
          Items in your bag are not reserved — check out now to make them yours.
        </p>
      </div>
      <div class="cart-main">
        <div class="row card-border">
          <button class="btn close-btn">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <div class="col-md-4 cart-img">
            <img
              src="../../../assets/owl carousel/adidas/adidas3.png"
              alt="cart-img "
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 my-auto">
            <div class="product-details d-flex justify-content-between mt-3">
              <p>Adidas Shoes</p>
              <p>₹30000</p>
            </div>
            <p class="text-uppercase">size:10.5</p>
            <div class="quantity d-flex align-items-center my-3">
              <button class="btn-quantity p-2 border-0">
                <i class="fa-solid fa-minus"></i>
              </button>
              <input
                type="text"
                value="1"
                class="text-center quantity-input mx-2 p-1"
              />
              <button class="btn-quantity p-2 border-0">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 my-5 mx-md-5">
      <button
        style="background-color: var(--accent-color)"
        class="text-uppercase btn text-center w-100 fw-bold checkout-btn mb-3"
      >
        Checkout <i class="fa-solid fa-arrow-right"></i>
      </button>

      <div class="order-summary">
        <h4 class="title text-capitalize fw-bolder mt-5 mb-4">
          Order Summary
        </h4>
        <div class="summary-details">
          <div class="d-flex justify-content-between lh-1">
            <p>2 Items</p>
            <p>₹14000</p>
          </div>
          <div class="d-flex justify-content-between lh-1">
            <p>Delivery</p>
            <p>0</p>
          </div>
          <div class="d-flex justify-content-between lh-lg ">
            <p class="fw-bold">Total <br /><span class="fw-lighter text-muted">(Inclusive all the Taxes)</span></p>
            <p class="fw-bold">₹14000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
