<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="3000"
  style="background-color: #f7f7f7"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active bg-dark"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
      class="bg-dark"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
      class="bg-dark"
    ></button>
  </div>
  <div class="carousel-inner p-4">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-4 order-md-last order-first">
          <img
            src="../../../assets/slider/Adidas superstar.png"
            class="d-block w-100"
            alt="First Slide"
          />
        </div>
        <div class="col-md-8 d-flex flex-column justify-content-center">
          <h2>Adidas Superstar</h2>
          <p>
            Experience the timeless design and iconic style of the Adidas
            Superstar. Known for its signature shell toe and sleek silhouette,
            this shoe blends classic heritage with modern comfort.
          </p>
          <button class="btn  mt-3 carousel-btn my-3">Shop Now</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-4 order-md-last order-first">
          <img
            src="../../../assets/slider/nike shoes.png"
            class="d-block w-100"
            alt="Second Slide"
          />
        </div>
        <div class="col-md-8 d-flex flex-column justify-content-center">
          <h2>Nike Air Max</h2>
          <p>
            Discover the ultimate comfort and style with the Nike Air Max.
            Featuring a lightweight design and innovative cushioning for all-day
            comfort.
          </p>
          <button class="btn mt-3 carousel-btn my-3">Shop Now</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-4 order-md-last order-first">
          <img
            src="../../../assets/slider/Puma Shoes.png"
            class="d-block w-100"
            alt="Third Slide"
          />
        </div>
        <div class="col-md-8 d-flex flex-column justify-content-center">
          <h2>Puma Future Rider</h2>
          <p>
            Style up with the Puma Future Rider, featuring a retro design and
            advanced comfort technology. Perfect for both casual and athletic
            wear.
          </p>
          <button class="btn  mt-3 carousel-btn my-3">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
