<app-header></app-header>
<button class="btn close-btn text-start mx-2 fw-bold">Back</button>
<div class="row card-border container m-md-5">
  <div
    class="col-md-8 cart-img text-center"
    style="background-color: var(--secondary-color)"
  >
    <img
      src="../../../assets/owl carousel/adidas/adidas3.png"
      alt="cart-img "
      class="img-fluid"
    />
  </div>
  <div class="col-md-4">
    <div class="product-details mt-3">
      <p>Originals</p>
      <h2 class="fw-bold text-uppercase">Adidas Shoes</h2>
      <p class="mb-3">Mens Wears</p>
      <div class="product-price">
        <p class="mb-0">MRP: <span class="fw-bold">₹12000</span></p>
        <p class="text-muted">(Inclusive all the Taxes)</p>
      </div>

      <div class="mt-5 mb-3">
        <p>
          This product is excluded from all promotional discounts and offers.
        </p>
      </div>

      <button
        style="background-color: var(--accent-color)"
        class="text-uppercase btn text-center w-100 fw-bold checkout-btn mb-3"
      >
        Add to Bag <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
