<app-admin-header (newEvent)="sideNavStatus = $event"> </app-admin-header>
<main>
  <app-admin-sidebar  [sidenavbar]="sideNavStatus" [ngClass]="{ 'sidenav-width': sideNavStatus }"></app-admin-sidebar>
  <div class="content p-3 body-trimmed"  [ngClass]="{ 'content-width': sideNavStatus }">
    
     <router-outlet></router-outlet>
  </div>
</main>


<!-- <app-admin-header (newEvent)="sideNavStatus = $event"></app-admin-header>
<main>
  <app-admin-sidebar [sidenavbar]="sideNavStatus"></app-admin-sidebar>
  <div class="content p-3 body-trimmed" [ngClass]="{ 'content-width': sideNavStatus }">
    <router-outlet></router-outlet> 
  </div>
</main> -->
