<app-header></app-header>
<app-carousel-section></app-carousel-section>
<app-sport-card></app-sport-card>
<app-owl-carousel></app-owl-carousel>
<!-- Discount Seciton  (not created component because this code will not repeate again)-->

<div class="discount-container discount-color p-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 d-flex justify-content-center flex-column">
        <h2 class="text-uppercase">Exclusive Offer on Adidas Yeezy!</h2>
        <p class="lead">
          Get up to <strong>50% off</strong> on the latest collection of Adidas
          Yeezy. Don't miss out on this limited-time offer!
        </p>
        <button class="btn btn-primary mt-3 btn-accent">Shop Now</button>
      </div>
      <div class="col-md-4">
        <img
          src="../../../assets/offer-img.png"
          alt="Adidas Yeezy"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>



<app-footer></app-footer>
