.admin-nav {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
}

.nav-content {
  /* flex-grow: 1; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--secondary-color);
}

.login-user {
  background-color: var(--accent-color);
  outline: none;
}
.login-user i {
  color: var(--primary-color);
  font-weight: bold;
}

.login-user-details {
  position: absolute;
  right: 0;
  top: 50px;
  width: 150px;
  height: 80px;
  background-color: #ffd7008a;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 17px;
  z-index: 1;
}

.login-user-details::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 34px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ffd7008a transparent;
}
@media (max-width: 576px) {
  .nav-content {
    /* display: block; */
    width: 100%;
  }
  .add-new-btn {
    font-size: 0.5rem;
  }
  .brand-name {
    /* display: block; */
    visibility: hidden;
    width: 0%;
  }
  .add-new-btn {
    width: 120px;
    font-size: 12px;
  }
}
