<div class="admin-nav navbar navbar-expand px-2 fs-4">
  <button class="btn fs-4 p-2 me-3 text-light" (click)="sideToggle()">
    <i class="fa-solid fa-bars"></i>
  </button>

  <div class="nav-content">
    <a href="#" class="brand-name navbrand-name px-md-4">Shoebite</a>

    <form class="d-flex search-box">
      <input type="search" class="form-control me-md-2 me-1" />
      <button class="btn btn-outline-light" type="submit">
        <i class="fa-solid fa-search"></i>
      </button>
    </form>
  </div>
  <div class="nav-buttons mx-3">
    <button class="btn login-user" (click)="loginClickToogle()">
      <i class="fa-regular fa-user"></i>
    </button>
    <div class="login-user-details rounded" [hidden]="!loginClick">
      <button class="btn btn-danger text-light" (click)="adminLogout()">
        Logout
      </button>
     
    </div>
  </div>
</div>
