<div class="container-fluid my-4">
    <h3 class="text-uppercase py-5">Select your sport, find your gear, and Get in the game!</h3>
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-4" >
      <div class="card">
        <img
          src="../../../assets/sports/running.jpg"
          class="card-img-top"
          alt="Card Image 1"
        />
        <div class="card-body" >
          <h5 class="card-title">Running</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img
          src="../../../assets/sports/cricket.jpg"
          class="card-img-top"
          alt="Card Image 2"
        />
        <div class="card-body">
          <h5 class="card-title">Cricket</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img
          src="../../../assets/sports/football.jpg"
          class="card-img-top"
          alt="Card Image 3"
        />
        <div class="card-body">
          <h5 class="card-title">Football</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img
          src="../../../assets/sports/basketball.jpg"
          class="card-img-top"
          alt="Card Image 4"
        />
        <div class="card-body">
          <h5 class="card-title">Basktetball</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center"><button class="btn  mt-3 my-3 btn-color">Explore More</button></div>
</div>
